<nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
    <ol class="breadcrumb pt-0">
        <li class="breadcrumb-item" *ngFor="let sub of pathArr; let i=index" [hidden]="i >= (pathArr.length-1)">
            <a [routerLink]="[getUrl(sub)]">{{getLabel(getUrl(sub)) | translate}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ title || (getLabel('/'+path) | translate) }}</li>
    </ol>
</nav>
<div class="row " style="text-align: center;">
    <div class="col-sm-12 bg-white pl-3 pt-3 pb-2 mb-3" >
        <h1 class="content-header">Administración convenios</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-12">
            <div class="col-sm-12 col-sm-12 pl-3 pt-3 pb-1 mb-3">
                <div class="col-12">
                    <div class="row align-items-center h-100 justify-content-center" >
                        <div class="card col-xl-4 col-lg-4 col-md-4 col-12 col-sm-12 mb-4" style="cursor: pointer;" (click)="abrirModal(mensajeModalAgregarTiempo)">
                            <div class="card-header">
                                <div class="card-body" id="pulse">
                                    <div class="col-12">
                                        <div class="text-center">
                                            <span style="font-size: 50px;" [class]=iconoAgregar></span>
                                        </div>
                                        <div class=" text-center">
                                            <span class="card-text font-weight-semibold mb-0" style="font-weight: bold">Agregar</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="col-sm-12 col-sm-12 pl-3 pt-3 pb-1 mb-3">
                <div class="col-12">
                    <div class="row">
                        <div class="card col-xl-12 col-lg-12 col-md-12 col-12 col-sm-12 mb-4">
                            <div class="card-header">
                                <div class="card-body">
                                    <div style="display: block; overflow-x: auto; white-space:nowrap;">
                                        <table class="table">
                                            <thead>
                                                <th>Titulo</th>
                                                <th style="text-align: center;">Imagen</th>
                                                <th style="text-align: center;">Estado</th>
                                                <th style="text-align: center;">Actualizar</th>
                                            </thead>
                                            <tr *ngFor="let adminCovenio of datosAdministracionConveniosAsync | paginate: { itemsPerPage: 5, currentPage: page }">
                                                <td style="padding-top: 50px;">{{adminCovenio.name}}</td>
                                                <td style="text-align: center;"><img src ="{{adminCovenio.img}}" style="width: 25%" (click)="openLightbox(adminCovenio.img)"> </td>
                                                <td style="text-align: center; padding-top: 50px;">Inactivo <ui-switch class="ml-1" [checked]="adminCovenio.estado"></ui-switch> Activo</td>
                                                <td style="text-align: center; padding-top: 50px;"><span [class]="adminCovenio.icon" style="cursor: pointer;" (click)="abrirUpdate(mensajeModalActualizar,adminCovenio.id)"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card d-flex flex-row pl-3 pt-3 pb-2 mb-3 card col-xl-12 col-lg-12 col-md-12 col-12 col-sm-12 align-items-center h-100 y justify-content-center" >
                            <pagination-controls (pageChange)="page = $event" previousLabel="Anteriror" nextLabel="Siguiente"></pagination-controls>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <ng-template #mensajeModalAgregarTiempo let-modal data-backdrop="static" data-keyboard="true">
    <div class="modal-header col-xl-12 col-lg-12 col-md-12 col-12 col-sm-6">
            <div class="position-relative" triggers="mouseenter:mouseleave" popover={{descripcionPopOver}} popoverTitle={{generalPopOver}} placement="top">
                <span style="font-size: 20px;" [class]=iconoAyuda></span>
                <h4 class="modal-title pull-left">Agregar contenido en Convenios </h4>
            </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.close('Save click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div  class="modal-body">
        <div class="row align-items-center h-100 justify-content-center"> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
            <label class="form-group has-top-label">
                <input class="form-control" required name="titulo1" type="text" [(ngModel)]="agregarConevnio.name" (ngModelChange)="validarCreacionTitulo();validarCreacion()"/>
                <span>Titulo</span>
                <div [hidden]="titulo1" class="invalid-tooltip">Este campo es requerido</div>
            </label>
        </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center"> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
                <label class="form-group has-top-label">
                    <input class="form-control" required name="descripcion" type="text" [(ngModel)]="agregarConevnio.descripcion" (ngModelChange)="validarCreacionDescripcion();validarCreacion()"/>
                    <span>Descripción</span>
                    <div [hidden]="descripcion" class="invalid-tooltip">Este campo es requerido</div>
                </label>
            </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center"> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
                <label class="form-group has-top-label">
                    <input class="form-control" required name="categoria" type="text" [(ngModel)]="agregarConevnio.categoria" (ngModelChange)="validarCreacionCategoria();validarCreacion()"/>
                    <span>Categoria</span>
                    <div [hidden]="categoria" class="invalid-tooltip">Este campo es requerido</div>
                </label>
            </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center">
            <label>Imagen</label>
        </div>
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
                <input  required name="file" type="file" [(ngModel)]="agregarConevnio.img" (ngModelChange)="validarCreacionImg();validarCreacion()"/>
                <div [hidden]="img" class="invalid-tooltip">Este campo es requerido</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger"  (click)="modal.close('Save click');cancelar()">Cancelar</button>
            <button class="btn btn-primary"  [disabled]="buttonDisabled" (click)="AgregarConvenio(mensajeModalConfirmacionCreacion)" >Agregar</button>
        </div>
    </div>
</ng-template>
<ng-template #mensajeModalActualizar let-modal data-backdrop="static" data-keyboard="true">
    <div class="modal-header col-xl-12 col-lg-12 col-md-12 col-12 col-sm-6">
        <div class="position-relative" triggers="mouseenter:mouseleave" popover={{descripcionPopOver}} popoverTitle={{generalPopOver}} placement="top">
            <span style="font-size: 20px;" [class]=iconoAyuda></span>
            <h4 class="modal-title pull-left">Actualizar contenido del Convenio </h4>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.close('Save click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div  class="modal-body">
        <div class="row align-items-center h-100 justify-content-center"> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
            <label class="form-group has-top-label">
                <input class="form-control" required name="titulo1" type="text" [(ngModel)]="agregarConevnio.name" (ngModelChange)="validarActualizacionTitulo();validarActualizacion()"/>
                <span>Titulo</span>
                <div [hidden]="titulo1" class="invalid-tooltip">Este campo es requerido</div>
            </label>
        </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center"> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
                <label class="form-group has-top-label">
                    <input class="form-control" required name="descripcion" type="text" [(ngModel)]="agregarConevnio.descripcion" (ngModelChange)="validarActualizacionDescripcion();validarActualizacion()"/>
                    <span>Descripción</span>
                    <div [hidden]="descripcion" class="invalid-tooltip">Este campo es requerido</div>
                </label>
            </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center"> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6"> 
                <label class="form-group has-top-label">
                    <input class="form-control" required name="categoria" type="text" [(ngModel)]="agregarConevnio.categoria" (ngModelChange)="validarActualizacionCategoria();validarActualizacion()"/>
                    <span>Categoria</span>
                    <div [hidden]="categoria" class="invalid-tooltip">Este campo es requerido</div>
                </label>
            </div>
        </div>
        <div class="row align-items-center h-100 justify-content-center">
            <label>Imagen</label>
        </div>
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 col-sm-6">
                <input  required name="file" type="file" [(ngModel)]="agregarConevnio.img" (ngModelChange)="validarActualizacionImg();validarActualizacion()"/>
                <div [hidden]="img" class="invalid-tooltip">Este campo es requerido</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger"  (click)="modal.close('Save click');cancelar()">Cancelar</button>
            <button class="btn btn-primary"  [disabled]="buttonDisabled" (click)="ActualizarConvenio(mensajeModalConfirmacionCreacion)" >Agregar</button>
        </div>
    </div>
</ng-template>
<!--<ng-template #mensajeModalConfirmacionCreacion let-modal data-backdrop="static" data-keyboard="true">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmación</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.close('Save click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div  class="modal-body">
        ¿Estas seguro de crear este país?.
    </div>
    <div class="modal-footer">
        
    </div>
</ng-template>

<ng-template #mensajeModalConfirmacionActualizacion let-modal data-backdrop="static" data-keyboard="true">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmación</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.close('Save click')"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div  class="modal-body">
        ¿Estas seguro de actaulizar este país?.
    </div>
    <div class="modal-footer">
        
    </div>
</ng-template>-->
