@model WellnessPeople.Models.Sede

@{
    ViewData["Title"] = "Crear Sede";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<h1>Crear Sede</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarSede" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="nombre_sede" class="control-label"></label>
                <input asp-for="nombre_sede" class="form-control" />
                <span asp-validation-for="nombre_sede" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="ListarSedes" class="btn btn-outline-success">Listado de Sedes</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
