<div class="row " align="center">
    <div class="col-sm-12 bg-white pl-3 pt-3 pb-2 mb-3" >
        <h1 class="content-header">Convenios</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                        <div class="card-body">
                            <div class="col-12 list">
                                <div class="row" >
                                    <div class="col-sm-4">
                                        <label style="font-weight: bold">Seleccione un convenio</label>
                                        <select type="text" class="form-control" (change)="visualizarInfoConvenio($event.target.value)">
                                            <option selected [value]="0">Seleccione</option>
                                            <option  *ngFor="let convenios of listaConvenios" [value]="1">{{convenios}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3" [hidden]="infoConvenios">
                        <div class="card-body">
                            <div class="col-12 list">
                                <div class="row" >
                                    <div class="col-sm-12 bg-white pl-3 pt-3 pb-2 mb-3" >
                                        <h2 class="content-header">{{listaConvenios[0]}}</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12 " >
                                    <div class="position-relative">
                                        <a ><img class="card-img-top" src="{{imgConvReactivacion}}"></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12" >
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
