<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - WellnessPeople</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <!--<div class="sidebar-heading">Menú principal </div> -->

            <div style="text-align: center; background-color: #230673;">
                <br />
                <img src="/images/ImgLogoAzul.png" /><br /><br />
            </div>

            <!--Menú contextual izquiero -->
            <div class="list-group list-group-flush">

                <a href="~/PanelAdmin/Index?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Home</a>

                <a href="~/Softtekians/ListarSofttekians?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Softtekians</a>

                <a href="~/RolesPerfiles/ListarRoles?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Roles y Perfiles</a>

                <a href="~/Categorias/ListarCategorias?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Categorías</a>

                <a href="~/SubCategorias/ListarSubCategorias?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de SubCategorías</a>

                <a href="~/Contenidos/ListarContenidos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Contenidos</a>

                <a href="~/Cursos/ListarCursos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Cursos</a>

                <a href="~/Eventos/ListarEventos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Eventos</a>

                <a href="~/Ciudades/ListarCiudades?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Ciudades</a>
                
                <a href="~/Sedes/ListarSedes?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Sedes</a>

                <a href="~/Paises/ListarPaises?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Paises</a>

                <a href="~/Contactos/ListarContactos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. Info. de Contacto</a>

                <a href="~/SatisfaccionCursos/ListarSatisfaccionCursos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. Satisfacción Cursos</a>

                <a href="~/SatisfaccionEventos/ListarSatisfaccionEventos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. Satisfacción Eventos</a>

                <a href="~/TipoCursos/ListarTipoCursos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. Tipos de Curso</a>

                <a href="~/TipoEventos/ListarTipoEventos?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. Tipos de Eventos</a>

                <a href="~/Usuarios/ListarUsuarios?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Admin. de Usuarios</a>

                <a href="~/Configuraciones/ListarCohfiguraciones?id_pais=@ViewBag.id_pais&Usuario=@ViewBag.usuario" class="list-group-item list-group-item-action bg-light">Configuraciones</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-image: radial-gradient(circle, #5c0067 50%, #090979 100%);
        background-size: 100vw 100vh;
        background-attachment: fixed;
        border-color: #090979;">

                <button class="btn btn-primary" id="menu-toggle">Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                                    Usuario: @ViewBag.usuario <br />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Mi cuenta</a>
                                    @*<a class="dropdown-item" href="#">Another action</a>*@
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Salir</a>
                                </div>
                            </li>
                        </ul>
                </div>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>
