<div class="row " style="text-align: center;">
    <div class="col-sm-12 bg-white pl-3 pt-3 pb-2 mb-3" >
        <h1 class="content-header">Administración Equilibrio de vida</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-12">
            <div class="col-sm-12 col-sm-12 pl-3 pt-3 pb-1 mb-3">
                <div class="col-12">
                    <div class="row  align-items-center h-100 justify-content-center" >
                        <div class="card col-xl-4 col-lg-4 col-md-4 col-12 col-sm-6 mb-4">
                            <div class="card-header">
                                <div class="position-relative" triggers="mouseenter:mouseleave" popover={{descripcionPopOver}} popoverTitle={{generalPopOver}}
                                        placement="top" style="cursor: pointer;">
                                    <a href="app/adminCarrusel">
                                        <div class="card-body" id="pulse">
                                            <div class="icon-row-item" >
                                                <div class="col-12">
                                                    <div class="text-center">
                                                        <span style="font-size: 50px;" [class]="verCarrusel"></span>
                                                    </div>
                                                    <div class=" text-center">
                                                        <span class="card-text font-weight-semibold mb-0" style="font-weight: bold">Carrusel</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-12 col-sm-6  pl-3 pt-3 pb-1 mb-3"></div>
                        <div class="card col-xl-4 col-lg-4 col-md-4 col-12 col-sm-6 mb-4">
                            <div class="card-header">
                                <div class="position-relative" triggers="mouseenter:mouseleave" popover={{descripcionIPopOver}} popoverTitle={{generalIPopOver}}
                                        placement="top" style="cursor: pointer;">
                                    <a href="{{urlInfo}}">
                                        <div class="card-body" id="pulse">
                                            <div class="icon-row-item" >
                                                <div class="col-12">
                                                    <div class="text-center">
                                                        <span style="font-size: 50px;" [class]="verInformacion"></span>
                                                    </div>
                                                    <div class=" text-center">
                                                        <span class="card-text font-weight-semibold mb-0" style="font-weight: bold">Información extra</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    