<div class="row " align="center">
  <div class="col-sm-12 bg-white pl-3 pt-3 pb-2 mb-3" >
      <h1 class="content-header">Eventos</h1>
  </div>
</div>
<div class="container-fluid pb-3">
  <div class="row text-center">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-content">
                  <div class="card-body">
                      <ngb-carousel>
                          <ng-template ngbSlide *ngFor="let datosSalud of listaEventos">
                              <img src="{{datosSalud.img}}" alt="Random first slide">
                              <div class="carousel-caption">
                                  <h3>{{datosSalud.name}}</h3>
                              </div>
                          </ng-template>
                      </ngb-carousel>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid pb-3">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row icon-cards-row mb-2">
                            <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4">
                                <a routerLink="../calendario" class="card">
                                    <i class="iconsminds-calendar-4"></i>
                                </a>
                            </div>
                            <div
                                class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                <p class="list-item-heading mb-1 truncate w-40 w-xs-100">Fechas</p>
                                <p class="list-item-heading mb-1 truncate w-40 w-xs-100">Lugar</p>
                            </div>
                        </div>
                        <div class="row col-sm-12 offset-5">
                            <p class="mb-1 text-muted text-small w-15 w-xs-100">Objetivo del evento, información relevante, detalles, ponentes, participantes, sorpresas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>