@model WellnessPeople.Models.Ciudades

@{
    ViewData["Title"] = "Crear Ciudades";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<br />
<h2>Crear Ciudad</h2>
<hr />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarCiudad" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <b><label asp-for="nombre_ciudad" class="control-label"></label></b>
                <input asp-for="nombre_ciudad" class="form-control" />
                <span asp-validation-for="nombre_ciudad" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a asp-action="ListarCiudades" class="btn btn-outline-success">Listado de Ciudades</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
