@model WellnessPeople.Models.Evento

@{
    ViewData["Title"] = "Crear Evento";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<h2>Crear Evento</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarEvento" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <!--<input type="hidden" asp-for="habilitada" /> -->
                <b><label asp-for="nombre" class="control-label"></label></b>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="descripcion" class="control-label"></label></b>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="fechahora_inicio" class="control-label"></label></b>
                <input asp-for="fechahora_inicio" class="form-control" />
                <span asp-validation-for="fechahora_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="fechahora_fin" class="control-label"></label></b>
                <input asp-for="fechahora_fin" class="form-control" />
                <span asp-validation-for="fechahora_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="nombre_TipoEvento" class="control-label"></label></b>
                <select asp-for="Id" class="form-control" asp-items="@(new SelectList(ViewBag.DepList,"Id","nombre_TipoEvento"))">
                </select>
            </div>
            <div class="form-group">
                <b><label asp-for="fecha_creacion" class="control-label"></label></b>
                <input asp-for="fecha_creacion" class="form-control" />
                <span asp-validation-for="fecha_creacion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear Evento" class="btn btn-primary" />
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/Eventos/ListarEventos?id_pais?@ViewBag.id_pais&usuario=@ViewBag.usuario" class="btn btn-outline-success">Listado de Eventos</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}