@model WellnessPeople.Models.Pais

@{
    ViewData["Title"] = "Crear un Pais";
    Layout = "_Layout_Backend";
}

<h2>Crear un Pais</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarPais" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for=" nombre_pais" class="control-label"></label>
                <input asp-for="nombre_pais" class="form-control" />
                <span asp-validation-for="nombre_pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bandera_pais" class="control-label"></label>
                <input asp-for="bandera_pais" class="form-control" />
                <span asp-validation-for="bandera_pais" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="ListarPaises" class="btn btn-outline-success">Listado de Paises</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
