<div class="row " align="center">
    <div class="col-sm-12 bg-white pl-3 pt-3 pb-2 mb-3" >
        <h1 class="content-header">Tiempo para mi</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-12 col-sm-12 bg-white pl-3 pt-3 pb-1 mb-3">
                        <div class="card-body">
                            <div class="col-12 list" *ngIf="displayMode==='image'">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                        <div class="position-relative" triggers="mouseenter:mouseleave" popover={{pruebasPopOver}} popoverTitle={{pruebaPopOver}}
                                        placement="top">
                                            <a ><img class="card-img-top" src="{{imgCumpleanos}}" (click)="abrirModal()"></a>
                                        </div>
                                        
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12" align="center">
                                                    <span class="list-item-heading mb-4 pt-1" style="font-weight: bold">Día de cumpleaños</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                        <div class="position-relative" triggers="mouseenter:mouseleave" popover={{popOverDiaFamilia}} popoverTitle={{popOverFamilia}}
                                             placement="top">
                                            <a ><img class="card-img-top" src="{{imgFamilia}}" (click)="abrirModalFamilia()"></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12" align="center">
                                                    <span class="list-item-heading mb-4 pt-1" style="font-weight: bold">Día de la familia</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                        <div class="position-relative" triggers="mouseenter:mouseleave" popover={{popOverDiaEmergencia}} popoverTitle={{popOverEmergencia}}
                                             placement="top">
                                            <a ><img class="card-img-top" src="{{imgEmergencia}}" (click)="abrirModalEmergencia()"></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12" align="center">
                                                    <span class="list-item-heading mb-4 pt-1" style="font-weight: bold">Día para emergencias medicas</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                        <div class="position-relative" triggers="mouseenter:mouseleave" popover={{popOverVacacion}} popoverTitle={{popOverVacaciones}}
                                             placement="top">
                                            <a ><img class="card-img-top" src="{{imgVacaciones}}" (click)="abrirModalVacaciones()"></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12" align="center">
                                                    <span class="list-item-heading mb-4 pt-1" style="font-weight: bold">Vacaciones</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                                        <div class="position-relative" triggers="mouseenter:mouseleave" popover={{popOverDiaBoda}} popoverTitle={{popOverBoda}}
                                             placement="top">
                                            <a ><img class="card-img-top" src="{{imgBoda}}" (click)="abrirModalBoda()"></a>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12" align="center">
                                                    <span class="list-item-heading mb-4 pt-1" style="font-weight: bold">Día para tu boda</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

